@import url('https://fonts.cdnfonts.com/css/kegina');
@import url('https://fonts.cdnfonts.com/css/tt-runs-trial');


.about-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: grid;
    justify-items: center;
    align-items: center;
}

.header h1 {
    font-size: 50px;
    color: var(--dark);
    font-family: 'Kegina', sans-serif;
    max-width: 80%;

}

.divider {
    background-color: var(--dark);
    height: 1px;
    width: 70%;

}

.header p {
    font-size: 20px;
    color: var(--orange);
    font-family: 'Kegina', sans-serif;
    max-width: 60%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.team-cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-bottom: 5%;
}

.first-card {
background: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 3%;
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.321);
display: grid;
max-width: fit-content;
width: 80%;
max-height: fit-content;
height: 100%;
position: relative;
top: 15%;
left: 10%;
justify-content: center;
align-items: center;
align-content: center;
justify-items: center;
transition: transform .2s;
}

.first-card h4{

font-family: 'Kegina', sans-serif;
font-style: bold;
font-weight: 900;
color: var(--black);

}

.first-card
p {
    font-size: 18px;
    font-family: 'Kegina', sans-serif;

}

.hidden-message{
    
    display: none;
}

.first-card:hover{

    .hidden-message{
        position: relative;
        top: 10%;
        color: var(--black);
        display: block;
        font-style: bold;
        font-weight: 800;
        font-size: 14px;
    }

    .hide-when-hover{
        display: none;
    }
}

.first-card:hover{
    
    .profile-image {
    transform: scale(1.5);
    transition: all 150ms ease-in-out;
    filter: opacity(0.5);
    }
}


@media (max-width: 990px) {
    .team-cards {
        display: flex;
        flex-direction: column;
        
    }

        .first-card {
            background: rgba(239, 95, 0, 0.15);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(239, 95, 0, 0.075);
            display: grid;
            max-width: fit-content;
            width: 55%;
            left: 25%;
            max-height: fit-content;
            height: 100%;
            position: relative;
            margin: 2.5% 0 2.5% 0;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;
    
        }
}