.about-section,
.about-section * {
box-sizing: border-box;
}

.about-section {
background: #1a191a;
flex-shrink: 0;
width: 98.8vw;
height: 100vh;
position: relative;
}


.meet-our-team {
color: #f08c51;
text-align: left;
font: 500 60px/136.1% 'LT Binary Neue Round', sans-serif;
position: absolute;
top: 7%;
left: 13.8%;
}

.description-about {
color: #d1d1d1;
font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
position: absolute;
left: 14%;
top: 21%;
max-width: fit-content;
width: 55%;
height: fit-content;
}


.cards-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: fit-content;
position: absolute;
top: 45%;
width: 100vw;
gap: 10%;
}




/* cards */

.profile-image-inside-card {
width: 100%;
}

.card-container-about {
width: 25rem;
height: 30rem;
perspective: 1000px;
z-index: 10000;
}

.card-layout-about {
height: 100%;
border-radius: 50px;
background: #2b2a2b;
transition: all 0.5s ease-in-out;
transform-style: preserve-3d;
box-shadow: rgba(2, 8, 3, 0.295) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.content-services-card {
position: relative;
top: 50%;
left: 10%;
transform: translate3d(0, 0, 26px);
}

.content-services-card .title {
display: block;
color: #ffffff;
position: relative;
top: 40%;
font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;

}

.text {
color: #ffffff;
font: 600 14px/146.1% 'LT Binary Neue Round', sans-serif;
}

.bottom {
padding: 10px 12px;
transform-style: preserve-3d;
position: absolute;
bottom: 10px;
left: 20px;
right: 20px;
display: flex;
align-items: center;
justify-content: space-between;
transform: translate3d(0, 0, 26px);
}




.bottom .social-buttons-container {
display: flex;
gap: 5%;
position: relative;
left: 25%;
transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
width: 30px;
aspect-ratio: 1;
padding: 3%;
background: rgb(207, 132, 70);
border-radius: 50%;
border: none;
display: grid;
place-content: center;
}

.bottom .social-buttons-container .social-button:first-child {
transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
width: 15px;
fill: #454545;
}

.bottom .social-buttons-container .social-button:hover {
background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
fill: rgb(255, 255, 255);
}

.bottom .social-buttons-container .social-button:active {
background: #1a191a;
}

.bottom .social-buttons-container .social-button:active .svg {
fill: rgb(224, 131, 9);
}



.logo-card .circle {
display: block;
position: absolute;
aspect-ratio: 1;
border-radius: 50%;
top: 0;
right: 0;
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
background: #47474765;
transition: all 0.5s ease-in-out;
}

.logo-card .circle1 {
width: 140px;
transform: translate3d(0, 0, 20px);
top: 5px;
right: 5px;
}






.card-container-about:hover .card-layout-about {
transform: rotate3d(5, 5, 0, 30deg);
}

.card-container-about:hover .card-layout-about .bottom .social-buttons-container .social-button {
transform: translate3d(0, 0, 50px);
}



