:root {
 --black:#222831;
  --dark: #393E46;
  --orange: #F96D00;
  --white: #F2F2F2;
  --grey:#DBD8E3;
  /* Fonts */
    --h-2: 500 72px "Rubik", sans-serif;
    --h-1: 500 96px "Rubik", sans-serif;
    background: #1a191a;
  
}

.App {
  text-align: center;
  color: 4C3D3D;
  font-family: "Major Mono Display";
}

html,
body {
  background: #1a191a;
}


/* src/styling/App.css or your preferred CSS file */
.section {
  height: 100vh;
  width: 100vw;
  background: #1a191a;
}