
.carousel-container {
  width: 90vw;
  height: 50vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}
.carousel-image {
 
  position: relative;
  left: 10%;
  top: 5%;
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 35px;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--grey);
  color: var(--orange);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 35px;
  font-size: 30px;
}

.prev-button {
  left: 11%;
}

.next-button {
  right: 0.5%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

.carousel-image {
  animation: fadeIn 3.5s forwards, slideUp 3.5s forwards;
    
}
