.clients-section,
.clients-section * {
  box-sizing: border-box;
}

.clients-section {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.our-cases {
  background-image: url(https://media2.giphy.com/media/tbRLQQzokLepWgFWpJ/200w.webp);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  max-width: 35%;
  font: 500 120px/136.1% 'LT Binary Neue Round', sans-serif;
  position: absolute;
  left: 2%;
  top: 20%;
}


/* Add these styles to your Clients.css or a separate CSS file */

.carousel-container {
  overflow: hidden;
  top: 10rem;
  position: relative;
}

.carousel-track {
  display: flex;
  height: 80%;
  flex-direction: row;
  transform-origin: left center;
}

.image {
  width: 300px;
  /* Adjust the image width as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 20px;
  /* Spacing between images */
  transition: transform 0.3s ease-in-out;
}

/* Optional: Add hover effect */
.image:hover {
  transform: scale(1.1);
  /* Increase image size on hover */
}
