

.clients-section,
.clients-section * {
  box-sizing: border-box;
}

.clients-section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.our-cases {
  background-image: url(https://media2.giphy.com/media/tbRLQQzokLepWgFWpJ/200w.webp);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  max-width: 35%;
  font: 200 140px/80% 'Orbitron',
    courier,
    sans-serif;
  position: absolute;
  left: 5%;
  top: 30%;
}


.carousel-container {
  top: 10rem;
  width: fit-content;
  position: relative;
}

.carousel-track {
  display: flex;
  height: 80%;
  flex-direction: row;
  transform-origin: left center;
}

.image-clients {
  border-radius: 5%;
  width: 20%;
  /* Adjust the image width as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 20px;
  /* Spacing between images */
  transition: transform 0.3s ease-in-out;
}

/* Optional: Add hover effect */
.image-clients:hover {
  transform: scale(1.1);
  /* Increase image size on hover */
}

.outro-clients {
  font-size: 35px;
  color: rgb(126, 126, 126);
  position: relative;
  top: 20%;
}