.contact-form {
    background-color: black;
    padding: 5% 5% 5% 5%;
    max-width: 80vw;
    width: 50vw;
    max-height: 80vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    left: 10%;
    align-items: center;
}

.contact-form input,
.contact-form input::placeholder,
.contact-form textarea
{
    color: black;
    font-size: 14px;
    font-family: monospace;
    word-spacing: 4px;
    border: none;
}

.submitButton {
    color: gold;
    background-color: rgb(134, 134, 134);
    width: 25%;
    height: 20%;
    position: relative;
    top: 15%;
    padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #505050;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999999c0;
}

.submitButton:hover {
    background-color: #646464
}

.submitButton:active {
    background-color: #dbc501;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.contact-form textarea {
    height: 100px;
}