.contact-section,
.contact-section * {
    box-sizing: border-box;
}

.contact-section {
    background: #1a191a;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.let-s-talk {
    color: #ffffff;
    text-align: left;
    font: var(--h-2, 500 72px "Rubik", sans-serif);
    position: absolute;
    left: 14%;
    top: 10%;
}

.description {
    color: #ffffff;
    text-align: left;
    font: 400 18px/27px "Rubik", sans-serif;
    position: absolute;
    left: 14%;
    top: 25%;
    width: 922px;
}


.form-container {
    background-color: 1a191a;
    width: 60%;
    height: 60%;
    position: relative;
    top: 38%;
    left: 14%;
    color: #ffffff;
}

.contact-form {
    display: flex;
        flex-direction: column;
        gap: 10px;
        font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
        border: none;
}

.contact-form input,
.contact-form textarea {
    background-color: rgba(255, 166, 0, 0.637) ;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder
{
    color: #ffffff;
}

.contact-form button {
    background-color: orange;
    color: black;
    font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
}