.footer,
.footer * {
    box-sizing: border-box;
}

.footer {
    background: #1a191a;
        flex-shrink: 0;
        width: 100vw;
        height: 40vh;
        position: relative;
        overflow: hidden;
        border-top: 1.2px solid rgba(255, 255, 255, 0.548);
}

.social {
    width: 100vw;
    height: 40%;
    position: static;
}

.links {
    padding: 3px 0px 3px 0px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 147px;
    top: 190px;
    overflow: hidden;
}

.buttons-footer {
    color: #ffffff;
    text-align: left;
    font-family: 'LT Binary Neue Round', sans-serif;
        font-size: 16px;
    position: relative;
    z-index: 100000;
}


.group-82 {
    width: 40%;
    height: 50%;
    position: relative;
    top: -20%;
    left: 15%;
    display: flex;
    flex-direction: row;
}

.logo-footer-text-up {
    color: #ffffff;
    text-align: left;
    font: 600 22px/136.1% 'LT Binary Neue Round', sans-serif;
}

.logo-text {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -5%;
    align-items: flex-start;
}

.logo-footer-text-down {
    color: #ffffff;
    text-align: left;
    font: 600 22px/136.1% 'LT Binary Neue Round', sans-serif;
}

.logo-footer {
    width: 30%;
    height: 100%;
    position: relative;
    top: -15%;
}

.label {
    color: #909090;
    text-align: left;
    font: 500 16px/20px "Rubik", sans-serif;
    position: absolute;
    right: 3%;
    top: 85%;
}