.hero,
.hero * {
  box-sizing: border-box;
}
.hero {
  background: #1a191a;
  flex-shrink: 0;
  width: 1914.05px;
  height: 980px;
  position: relative;
  overflow: hidden;
}
._04-fragment-of-saturn {
  position: absolute;
  left: -353px;
  top: 47px;
  overflow: visible;
}
.simple-solutions-for-complex-problems {
  color: #ffffff;
  text-align: left;
  font: var(--h-1, 500 96px "Rubik", sans-serif);
  position: absolute;
  left: 213px;
  top: 249px;
  width: 814px;
  height: 388px;
}
.group-8 {
  position: absolute;
  inset: 0;
}
._001-facebook {
  position: absolute;
  left: 212.78px;
  top: 804.61px;
  overflow: visible;
}
._003-twitter {
  position: absolute;
  left: 262.69px;
  top: 805.52px;
  overflow: visible;
}
._004-instagram {
  position: absolute;
  left: 324.63px;
  top: 803.71px;
  overflow: visible;
}
.header {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #ffffff;
  width: 1916px;
  height: 83px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container-card {
  position: relative;
  font-family: sans-serif;
}

.container-card::before, .container-card::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.container-card::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.container-card::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.container-card .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  transition: all ease .3s;
}

.container-card .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-card .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .1em
}

.container-card .box div strong {
  display: block;
  margin-bottom: .5rem;
}

.container-card .box div p {
  margin: 0;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.container-card .box div span {
  font-size: .7rem;
  font-weight: 300;
}

.container-card .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: .2rem;
}

.container-card .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}