.container-home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 400;
    word-spacing: 4px;
    width: 100%;
    max-width: 100vw;
    max-height: 100%;
    height: 100%;
}

.left-side-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: var(--black);
    text-shadow: 1px 1px 1px var(--dark);
    justify-content: center;
    justify-items: center;
    font-family: monospace;
    max-height: 55%;
    align-items: center;
    width: 100%;
    max-width: 50vw;
    max-height: 90vh;
    position: relative;
    top: 20% ;
    left: 0%;

}

.h4TextHomepage {
    font-size: 20px;
    text-align: center;

}

.contact-homepage {
    background-color: A8A196;
    border: 2px solid var(--black);
    border-radius: 30px;
    box-shadow: var(--light) 4px 4px 0 0;
    color: var(--dark);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    letter-spacing: 3px;
    top: 50%;
    position: relative;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.contact-homepage:hover {
    background-color: var(--black);
    color: var(--light);
}

.contact-homepage:active {
    box-shadow: var(--dark) 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.right-side-home {
    max-width: 60%;
    width: 35%;
    height: 70%;
    justify-content: center;
    position: relative;
    top: 30%;
}

.right-side-home img {
    width: 100%;
    -webkit-transition: opacity 2s linear;
        -moz-transition: opacity 2s linear;
        transition: opacity 2s linear;
}

.right-side-home img:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {

.container-home {
    height: 90vh;
}

    .left-side-home {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            justify-items: center;
            height: 50%;
            font-family: monospace;
            max-height: 55%;
            align-items: center;
            width: 55%;
            position: relative;
            top: 20%;
            left: 0%;
    
        }
    
    
        .right-side-home {
            display: none;
        }
    

}
.container2 {
    width: 260px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: linear-gradient(145deg, #3e3e3e, #343434);
    ;
    box-shadow: 5px 5px 20px #282828,
        -5px -5px 20px #4c4c4c;
}
.container2 .neumor {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #3e3e3e, #343434);
    box-shadow: 5px 5px 20px #282828,
        -5px -5px 20px #4c4c4c;
}


.container2 .neumor:hover {
    box-shadow: inset 5px 5px 20px #282828,
        inset -5px -5px 20px #4c4c4c;
}

.container2 .neumor p {
    text-transform: uppercase;
    color: var(--lightGreen);
    text-shadow: 5px 5px 20px #282828,
        -5px -5px 20px #4c4c4c;
    font-size: 15px;
    font-weight: 900;
}

.container2 .neumor p::after {
    content: "HOVER ME!";
}

.container2 .neumor:hover p {
    transform: rotate(360deg) scale(0.8);
    transition: all 0.3s;
}

.container2 .neumor:hover p::after {
    content: "CONTACT US!";
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/compass/1.0.3/css3.min.css');

