@import url('https://fonts.cdnfonts.com/css/lt-binary-neue');

.frame-3,
.frame-3 * {
box-sizing: border-box;
}

.frame-3 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 100vw;
position: fixed;
z-index: 100000;
transition: background-color 0.3s ease-in-out;
}

.frame-3.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Change the background color and opacity as needed */
}

.frame-1 {
display: flex;
flex-direction: row;
gap: 25%;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}

.buttons-navbar {
color: #ffffff;
text-align: left;
font: 500 18px "Rubik", sans-serif;
position: relative;
z-index: 10000;
}

.frame-4 {
flex-shrink: 0;
width: 299px;
height: 43px;
position: relative;
}

.group-1 {
position: relative;
inset: 0;
left: 45%;
}

.digital {
color: #ffffff;
text-align: left;
font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
position: absolute;
left: 124.12px;
top: 0.5px;
}

.studio {
color: #ffffff;
text-align: left;
font: 600 19px/136.1% 'LT Binary Neue Round',
sans-serif;
position: absolute;
left: 124.12px;
top: 19.5px;
}



.two-navbar {
flex-shrink: 0;
width: 176px;
height: 44px;
position: static;
}



.button-contact-navbar {
  position: relative;
  overflow: hidden;
  height: 4rem;
  padding: 0 2rem;
  left: 4%;
  border-radius: 2rem;
  background: #eea956;
  background-size: 400%;
  font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
  color: #080808;
  border: none;
  z-index: 100000;
}

.button-contact-navbar:hover::before {
  transform: scaleX(1);
  color: #ffffff;
}

.button-content {
  position: relative;
  z-index: 1;
}

.button-contact-navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(209, 50, 50) 10.8%,
    rgb(255, 1, 1) 94.3%
  );
  transition: all 0.475s;
}

.date-time-local {
    color: #FF6000;
    width: 30rem;
    position: relative;
    left: 10%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    color:rgba(199, 199, 199, 0.736);
}

.city-date {
    font: 500 18px'LT Binary Neue Round', sans-serif;
    color:antiquewhite;
    margin: -0.5%;
    position: relative;
    left: 0%;
}

.logo-navbar {
width: 25%;
position: relative;
top: -15px;
left: 20%;

}

.buttons-navbar {
font-family: 'LT Binary Neue Round', sans-serif;
font-size: 16px;
margin: -8px;

}