/* *********************************
           Variables
  ********************************** */
:root {
    --navbar-height: 50px;
    --big-logo-padding: 10px;
    --small-logo-padding: 2px;
    font-family: "Major Mono Display";
}

/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
    background: rgba(0, 0, 0, 0);
    border-bottom: none;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





.smallLogoOtherPages {
    color: var(--dark);
    text-decoration: none;
    margin: 0;
}


.navbar-inverse .navbar-toggle {
    border: 1px solid var(--dark);
    border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
        background: rgba(255, 255, 255, 0.75);
    }
}

.navbar-inverse .navbar-nav>li>a {
     color: var(--orange);
    background-image: linear-gradient(45deg, var(--dark), var(--grey)); 
    
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background-color: var(--dark);
     color: white;
     box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.navbar-inverse .navbar-nav>li>a:hover svg {
         fill: white;
    transform: rotate(10deg);
    transition: all 0.3s;

}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: var(--orange);
    color: var(--dark);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}


.navbar-inverse .navbar-nav>.active>a:hover{
color: var(--grey);
background-color: var(--dark);
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: var(--navbar-height);
    height: var(--navbar-height);
    overflow: hidden;
    position: absolute;
    text-decoration: none !important;
}

.small-logo {
    color: var(--dark);
    font-size: 2.5em;
    padding-bottom: var(--small-logo-padding);
    transition: padding-bottom 0.2s ease-in-out;
    text-decoration: none !important; 
}

.small-logo-container.sticky .small-logo {
    padding-bottom: 0;
}

.small-logo:hover {
    text-decoration: none !important;
     color: var(--black);
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
    background: var(--black);
}

.big-logo-container {
    padding-top: 3%;
}

h1.big-logo {
    font-size: 4em;
    margin: 0;
    color: var(--orange);
    padding: 0 0 var(--big-logo-padding) 0;
}

.bigLogo-link,
.bigLogo-link:hover
{
    text-decoration: none !important;
    color: var(--black);
}

@media (min-width: 300px) {
    h1.big-logo {
        font-size: 2.5em;
    }
}

@media (min-width: 400px) {
    h1.big-logo {
        font-size: 3em;
    }
}

@media (min-width: 440px) {
    h1.big-logo {
        font-size: 4.5em;
    }
}

@media (min-width: 500px) {
    h1.big-logo {
        font-size: 5.5em;
    }
}

@media (min-width: 630px) {
    h1.big-logo {
        font-size: 6em;
    }
}

@media (min-width: 768px) {
    h1.big-logo {
        font-size: 8em;
        padding-bottom: calc(var(--big-logo-padding) * 2);
    }
}

@media (min-width: 1200px) {
    h1.big-logo {
        font-size: 9em;
    }
}


@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
        transform: rotate(90deg);
        font-weight: 1000;
        height: 2%;
        font-size: 24px;
        color: var(--orange);
        position: fixed;
        top: 1.9%;
        right: -3.5%;
    }
        .mobile-navbar:not(.open) .menu-items {
            display: none;
        }
        .menu-items-links{
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5%;
            justify-content: center;
            align-content: center;
           margin: 0;
           background-color: var(--black);
           padding: 0;
            justify-items: center;
            border: none;
        }
        .menu-items-links a {
            color: var(--grey);
            align-items: center;
            align-content: center;
        }

}
/* Animation keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}


.big-logo.animate {
    animation: fadeIn 3.2s forwards, slideUp 3.2s forwards;
    animation-delay: 0.2s;
}
.cloud {
    width: 245px; /* 350 * 0.7 */
    height: 84px; /* 120 * 0.7 */
    
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    
    border-radius: 70px; /* 100 * 0.7 */
    
    position: relative;
    margin: 84px auto 20px; /* 120 * 0.7 for the top margin */
}

.cloud:after, .cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1;
}

.cloud:after {
    width: 70px; /* 100 * 0.7 */
    height: 70px; /* 100 * 0.7 */
    top: -35px; /* -50 * 0.7 */
    left: 35px; /* 50 * 0.7 */
    
    border-radius: 70px;
}

.cloud:before {
    width: 126px; /* 180 * 0.7 */
    height: 126px; /* 180 * 0.7 */
    top: -63px; /* -90 * 0.7 */
    right: 35px; /* 50 * 0.7 */
    
    border-radius: 140px; /* 200 * 0.7 */
}
