/* @import url('https://fonts.cdnfonts.com/css/lt-binary-neue');

.frame-3,
.frame-3 * {
box-sizing: border-box;
}

.frame-3 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
width: 100vw;
position: fixed;
z-index: 100000;
}

.frame-1 {
display: flex;
flex-direction: row;
gap: 25%;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}

.buttons-navbar {
color: #ffffff;
text-align: left;
font: 500 18px "Rubik", sans-serif;
position: relative;
z-index: 10000;
}

.frame-4 {
flex-shrink: 0;
width: 299px;
height: 43px;
position: relative;
}

.group-1 {
position: relative;
inset: 0;
left: 45%;
}

.digital {
color: #ffffff;
text-align: left;
font: 600 19px/136.1% 'LT Binary Neue Round', sans-serif;
position: absolute;
left: 124.12px;
top: 0.5px;
}

.studio {
color: #ffffff;
text-align: left;
font: 600 19px/136.1% 'LT Binary Neue Round',
sans-serif;
position: absolute;
left: 124.12px;
top: 19.5px;
}



.two-navbar {
flex-shrink: 0;
width: 176px;
height: 44px;
position: static;
}


.button-contact-navbar {
  background: #F96D00;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  text-transform: uppercase;
  padding-left: 1.2em;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  left: 5%;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #F96D00;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.button-contact-navbar .icon {
  background: rgb(0, 0, 0);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.5em 0em #000000;
  right: 0.3em;
  transition: all 0.3s;
}

.button-contact-navbar:hover .icon {
  width: calc(100% - 0.6em);
}

.button-contact-navbar .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #e68b03;
}

.button-contact-navbar:hover .icon svg {
  transform: translateX(0.1em);
}

.button-contact-navbar:active .icon {
  transform: scale(0.95);
}

.date-time-local {
    width: 30rem;
    position: relative;
    left: 10%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    color:rgba(216, 212, 212, 0.736);
}

.city-date {
    font: 500 18px'LT Binary Neue Round', sans-serif;
    color:rgb(255, 255, 255);
    margin: -0.5%;
    position: relative;
    left: 0%;
}

.logo-navbar {
width: 25%;
position: relative;
top: 5px;
left: 20%;

}

.buttons-navbar {
font-family: 'LT Binary Neue Round', sans-serif;
font-size: 16px;
margin: -8px;

} */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d00;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav>.nav-header {
  display: flex;
  flex-direction: row;
}

.date-time-local {
  color: #eee;
}

.city-date,
.nav-title p
{
  color: var(--orange);
}
.nav>.nav-header>.nav-title {
display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.nav-title img {
  width: 15%;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1000;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}