 /* Page 2 */

 .page2 {
     background-color: var(--grey);
     overflow-y: auto;
 }

 .page2-container {
     display: grid;
     grid-template-rows: repeat(2, 1fr);

 }

 .page2-container-right {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -15%;
 }

 .gif-page2{
    position: relative;
    top: 15%;
    width: 800px;
    border-radius: 10px;
    height: 300px;
    z-index: 0;
    filter: brightness(70%);
 }
 
 .card-content-page2 {
     width: 10em;
     z-index: 10;
     height: 300px;
    background: rgba(217, 217, 217, 0.58);
        border: 1px solid white;
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
        backdrop-filter: blur(6px);
        border-radius: 17px;
     transition: all 0.4s;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 5px rgba(94, 93, 93, 0.705);
     font-size: 2rem;
     font-weight: 900;
     margin: 0 5% 0 5%;
 }

 .card-content-page2:hover {
     border-radius: 15px;
     cursor: pointer;
     color: rgb(255, 255, 255);
    border: 1px solid black;
        transform: scale(1.05);
     transform: scale(1.2);
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
     background: rgb(93, 93, 93);
 }

 .first-content {
     height: 50%;
     width: 80%;
     transition: all 0.4s;
     display: flex;
     align-content: center;
        left: 5%;
     position: relative;
     top: 20%;
     opacity: 1;
     border-radius: 15px;
 }

 .card-content-page2:hover .first-content {
     height: 0px;
     opacity: 0;
 }

 .second-content {
     height: 0%;
     width: 100%;
     opacity: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 15px;
     transition: all 0.4s;
     font-size: 0px;
     transform: rotate(90deg) scale(-1);
 }

 .card-content-page2:hover .second-content {
     opacity: 1;
     height: 100%;
     font-size: 1rem;
     transform: rotate(0deg);
 }