/* Page 2 */

@import url('https://fonts.cdnfonts.com/css/kegina');
@import url('https://fonts.cdnfonts.com/css/the-abstrack');

.page2 {
overflow-y: auto;
width: 100vw;
}

.page2-container {
display: grid;
grid-template-rows: repeat(2, 1fr);
}

.page2-container-right {
display: flex;
flex-direction: row;
position: relative;
top: -15%;
}

.gif-page2{
position: relative;
top: 15%;
width: 800px;
border-radius: 10px;
height: 300px;
z-index: 0;
filter: brightness(70%);
padding: 1rem;
border-radius: 1rem;
border: .4vmin solid #05060f;
box-shadow: .4rem .4rem #05060f;
overflow: hidden;
color: black;
}

.card-content-page2 {
width: 20em;
z-index: 10;
height: 300px;
background: #d0d0d0;
padding: 1rem;
border-radius: 1rem;
border: .5vmin solid #05060f;
box-shadow: .4rem .4rem #05060f;
overflow: hidden;
color: black;
transition: all 0.4s;
border-radius: 10px;
font-size: 1.3rem;
margin: 0 3.5% 0 3.5%;
font-family: 'Kegina';

}

.card-content-page2:hover {
border-radius: 15px;
cursor: pointer;
color: rgb(255, 255, 255);
border: 1px solid black;
transform: scale(1.05);
transform: scale(1.2);
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
background: rgb(255, 255, 255);
}

.first-content {
height: 20%;
width: 100%;
transition: all 0.4s;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
font-family: 'Kegina';
font-style: normal;
font-weight: 700;
padding-left: 7%;
background-color: rgba(2, 1, 9, 0.596);
position: relative;
color: white;
top: 75%;
opacity: 1;
border-radius: 5px;
}

.card1 {
background: url("../assets/seo-card-back.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.card2 {
background: url("../assets/landing-page-card.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.card3 {
background: url("../assets/mobile-responsive-card.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.card-content-1,
.card-content-2,
.card-content-3
{
background: white;
border-radius: 10px;
transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
filter: grayscale(1);
text-align: center;
color: var(--black);
}


.card-content-page2:hover .first-content {
height: 0px;
opacity: 0;
}

.second-content {
height: 0%;
width: 100%;
opacity: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
transition: all 0.4s;
font-size: 0px;
transform: rotate(90deg) scale(-1);

}

.card-content-page2:hover .second-content {
opacity: 1;
height: 100%;
font-size: 1rem;
transform: rotate(0deg);
}

