@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');


.editor {
  position: relative;
  min-height: 60vh;
  width: 60vw;
  margin: 75px auto;
  border-radius: .5rem;
  border: .1rem solid #000;
  background-color: #2e2e2f;
  box-shadow: 0 .2rem .3rem rgba(0, 0, 0, 1);
  counter-reset: codeNum;
  --font-family: 'Source Code Pro', monospace;
}

.editor__tabs {
  display: block;
  position: relative;
  height: 5%;
  z-index: 1000;
  background-color: #445069;
}

.editor__tabs h1 {
  display: inline-block;
  height: 100%;
  margin-left: 3%;
  padding: 0 1rem;
  background-color: #2e2e2f;
  border-radius: .3rem .3rem 0 0;
  border-top: 1px solid #90907C;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #90907C;
  font-family: "anglecia-pro-display";
  vertical-align: baseline;
}

.editor__lines {
  list-style-type: none;
  height: 95%;
  width: 97%;
  margin-left: 3%;
}

.editor__lines li {
  min-height: 3.5rem;
}

.editor__lines li:before {
  content: counter(codeNum);
  counter-increment: codeNum;
  position: absolute;
  left: 0;
  width: 3%;
  padding-right: .5rem;
  color: #2e2e2f;
  text-align: right;
  font-size: 2.2rem;
}

.editor__lines:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #445069;
  height: 100%;
  width: 3%;
}

.editor__content {
  margin-left: 1.3rem;
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 100;
  font-family: "anglecia-pro-display";
}

.editor__content--indent {
  margin-left: 6rem;
}

.editor__content span {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 100;
  font-family: "anglecia-pro-display";
}

.editor__input-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  background-color: #282829;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: "anglecia-pro-display";
  padding: .2rem 1rem;
  overflow: hidden;
}

.editor__input-box:hover,
.editor__input-box:active,
.editor__input-box:focus {
  border: 1px solid #90907C;
  background-color: #191919;
}

.editor__input-button {
  padding: .5rem 1rem;
  background-color: #A6E22E;
}

.editor__input-button:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #A6E22E;
}

.editor__input-button:hover {
  border: 1px solid #90907C;
  background-color: #c7ff57;
  cursor: pointer;
}

.editor__input-button:active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: grabbing;
  background-color: #93c828;
}

.editor__textarea {
  margin-left: 10rem;
  min-height: 125px;
  min-width: 40%;
  width: 85%;
  max-width: 85%;
  padding: 1rem;
}

.monokai-comment {
  color: #90907C;
}

.monokai-text {
  color: #F5F5EC;
}

.monokai-string {
  color: #FFE792;
}

.monokai-element {
  color: #F92672;
}

.monokai-attribute {
  color: #A6E22E;
}

@media screen and (max-width: 1200px) {
  /* Adjust styles for screens up to 1200px width */

  .editor {
    width: 90vw;
  }

  .editor__tabs h1 {
    font-size: 1.5rem;
  }

  .editor__content,
  .editor__content span,
  .editor__textarea {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px width */

  .editor {
    width: 95vw;
  }

  .editor__tabs h1 {
    font-size: 1.2rem;
  }

  .editor__content,
  .editor__content span,
  .editor__textarea {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens up to 480px width */

  .editor {
    width: 100vw;
  }

  .editor__tabs h1 {
    font-size: 1rem;
  }

  .editor__content,
  .editor__content span,
  .editor__textarea {
    font-size: 1rem;
    line-height: 1rem;
  }
}