.hero {
    background: #1a191a;
    flex-shrink: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


.services-right-side
{
    color: #ffffff;
    text-align: right;
    font: 32px "Rubik", sans-serif;
    position: absolute;
    right: 5%;
    top: 20%;
    text-align: left;
}

.services-right-side li {
    list-style-type: none;
}


.title-right-side {
    font-size: 40px;
    text-align: center;
}


.services-image {
    width: 40%;
    height: 70%;
    position: absolute;
    left: 5%;
    top: 0%;
    border-radius: 5%;
}