.services-section,
.services-section * {
  box-sizing: border-box;
  position: relative;
  top: 7%;
}
.services-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
}
.container-content-services {
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.services-right-side {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-height: 10%;
  font: 600 26px/65% 'LT Binary Neue Round', sans-serif;
  position: relative;
  justify-items: center;
  align-content: center;
  top: 20%;
  text-align: center;
}
.highlight {
  background: var(--orange);
  height: auto;
  padding: .5%;
  position: relative;
  top: 0;
  margin: 1%;
  text-decoration: none;
}
.services-image {
  width: 100%;
  position: relative;
  top: 15%;
  left: 10%;
  border-radius: 2%;
}
.slogan-down-services {
  position: relative;
  width: 70%;
  top: 10%;
  left: 20%;
  background-image: url(https://media2.giphy.com/media/tbRLQQzokLepWgFWpJ/200w.webp);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}
.cards-services-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  top: -50%;
}
.tip {
  font-size: 10px;
  color: #f8f8f8;
  background-color: #f8f8f800;
}
.cards-services-container {
  background-color: #7a7a7a00;
}
.cards-services-container .card-layout-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 17rem;
  max-width: 60rem;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65,65,65,.308);
  border: 1px solid rgba(107,107,107,.089);
}
.cards-services-container .card-layout-services p.tip {
  font-size: .5em;
  font-weight: 400;
}
.cards-services-container .card-layout-services p.second-text {
  font-size: .7em;
}
.cards-services-container .card-layout-services:hover {
  transform: scale(1.1,1.1);
}
.cards-services-container:hover > .card-layout-services:not(:hover) {
  filter: blur(10px);
  transform: scale(.9,.9);
}

@media (max-width: 1240px) {
.services-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    overflow: hidden;
  }

  .container-content-services {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .services-right-side {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-height: 10%;
    font: 600 26px/65% 'LT Binary Neue Round', sans-serif;
    position: relative;
    justify-items: center;
    align-content: center;
    top: 25%;
    text-align: center;
  }

  .highlight {
    background: var(--orange);
    height: auto;
    padding: .5%;
    position: relative;
    top: 0;
    margin: 1%;
    text-decoration: none;
  }

  .services-image {
    width: 120%;
    position: relative;
    top: 18%;
    left: 10%;
    border-radius: 2%;
  }

  .slogan-down-services {
    position: relative;
    width: 80%;
    top: 10%;
    left: 15%;
    background-image: url(https://media2.giphy.com/media/tbRLQQzokLepWgFWpJ/200w.webp);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 24px;
    margin: 10px 0;
  }

  .cards-services-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: -50%;
  }
}

@media (max-width:980px) {
  .container-content-services {
    grid-template-columns: 1fr;
  }
  .services-left-side {
    display: none;
  }
  .services-right-side {
    font-size: 30px;
  }
  .slogan-down-services {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .cards-services-container .card-layout-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 18rem;
    left: 5%;
    padding: 2%;
    max-width: 90%;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65,65,65,.308);
    border: 1px solid rgba(107,107,107,.089);
  }
}
@media (max-width:768px) {
  .container-content-services {
    grid-template-columns: 1fr;
  }
  .services-left-side {
    display: none;
  }
  .services-right-side {
    font-size: 30px;
  }
  .slogan-down-services {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .cards-services-container .card-layout-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 18rem;
    left: 7.5%;
    padding: 2%;
    max-width: 85%;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65,65,65,.308);
    border: 1px solid rgba(107,107,107,.089);
  }
}

@media (max-width:480px) {
  .container-content-services {
    grid-template-columns: 1fr;
  }

  .services-left-side {
    display: none;
  }

  .services-right-side {
    font-size: 25px;
  }

  .slogan-down-services {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .cards-services-container .card-layout-services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 20rem;
    left: 5%;
    top: 0;
    padding: 1%;
    max-width: 90%;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, .308);
    border: 1px solid rgba(107, 107, 107, .089);
  }
}